        
      .thumbnail {
        width: 100%; 
        margin-bottom: 10px;
      }
      .video-title {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .profile-picture {
        width: 36px;
        border-radius: 50px;
      }
      .thumbnail-row {
        margin-bottom: 8px;
        position: relative;
      }
      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .video-author {
        font-size: 12px;
        color: rgb (96,96,96);
        margin-bottom: 4px;
      }
      .video-stats {
        font-size: 12px;
        color: rgb (96,96,96);
      }
      .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px ;
      }

      @media (max-width: 750px) {
        .video-grid {
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (min-width: 1000px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      @media (min-width:751px) and (max-width:999px){
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      @media (min-width:1000px) {
        .video-title {
          font-size: 16px;
          line-height: 24px;

          .video-author,
          .video-stats {
            font-size: 14px;
          }

        }
      }

      .video-time {
        background-color: black;
        color: white;
        position: absolute;
        bottom: 18px;
        right: 5px;
        font-size: 12px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
      }
      .video-info {
        color: inherit;
        text-decoration: inherit;
      }

      .channel-picture {
        position: relative;
      }

      .channel-picture .overlay {
        position: absolute;
        opacity: 0;
      }

      .channel-picture:hover .overlay {
        opacity: 1;
        background-color: white;
      }

      .overlay {
        box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
      }

      .overlay-grid {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 80px;
        padding-left: 10px;
        align-items: center;
      }

      .overlay-profile-picture {
        width: 50px;
        border-radius: 25px;
      }

      .overlay-video-author {
        color: black;
        margin-left: 10px;
        font-family: Roboto, Arial;
        font-weight: 500;
        margin-bottom: 5px;
      }

      .overlay-video-subscribers {
        margin-left: 10px;
        font-family: Roboto, Arial;
        font-size: 12px;
      }
      